/* Typography */

body {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    color: #757575;
    position: absolute;
    width: 100%;
    top: 0;
    background: url(../satinweave.png);
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
    box-shadow: none;
}

a {
    color: #757575;
    text-decoration: none;
    border: 0;
}

a:hover {
    color: #555;
    text-decoration: underline;
}


/* ============================================== */
/* Header
/* ============================================== */

.wrapper {
    padding: 2% 5%;
    position: relative;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    max-width: 80%;
    background: #fff;
    overflow: hidden;
    border: 0;
    border-bottom: 3px solid #ddd;
}

#header {padding-bottom: 20px;}

.name {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -2px;
    color: #00A5CF;
}

.name span {color: #ddd;}

input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
    overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
    padding: 14px 2%;
    border: 2px solid transparent;
    -webkit-appearance: none;
    border-radius: 0;
}

input:focus {outline: 0;}

input[type="submit"], .submit {
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    padding: 14px 0;
}

.add-wrapper, .to-do-wrapper {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.add-to-do {
    width: 63%;
    height: 18px;
    margin: 0 -2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    border: 2px solid #eee;
    border-right: 2px solid #fff;
    background: #fff;
    color: #757575;
}

.add-to-do:focus {border: 2px solid #ddd;}
input.add {background-color: #46B846;}
input.add:active {background-color: #3CA13C;}

.submit {
    width: 33%;
    height: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
}

.to-do-wrapper {
    display: none;
    overflow: hidden;
    margin: 10px 0;
    background: #eee;
    border-radius: 3px;
    position: relative;
}

.to-do.item {
    width: 88%;
    height: 16px;
    padding-left: 0;
    float: left;
    margin-left: 45px;
    background: transparent;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    color: #757575;
}

.complete-item {
    height: 48px;
    cursor: pointer;
    width: 45px;
    position: absolute;
    left: 0;
    color: #757575;
}

.complete-item i {
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.to-do-wrapper.completed {
    background: #DDF8DE;
    -webkit-transition: background .3s ease;
       -moz-transition: background .3s ease;
        -ms-transition: background .3s ease;
         -o-transition: background .3s ease;
            transition: background .3s ease;
}

.completed .to-do.item, .completed .complete-item {
    color: #3CA13C;
    -webkit-transition: color .3s ease;
       -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
         -o-transition: color .3s ease;
            transition: color .3s ease;
}

.to-do-wrapper.completed.about-to-delete {
    background: #F58D73;

}

.completed.about-to-delete .complete-item, .completed.about-to-delete .to-do.item {
    color: #fff;
}

.delete-completed {
    padding: 20px 0 0;
    cursor: pointer;
    margin: 0 auto;
    color: #999;
    float: right;
    font-weight: 600;
    display: none;
    -webkit-transition: color .25s ease;
       -moz-transition: color .25s ease;
        -ms-transition: color .25s ease;
         -o-transition: color .25s ease;
            transition: color .25s ease;
}

.delete-completed:hover {color: #555;}