/* Typography */

body {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    color: #333;
    position: absolute;
    width: 100%;
    top: 0;
    background: #dbdbdb;
}

h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    margin-bottom: 16px;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
    box-shadow: none;
}

a {
    color: #1a1a1a;
    text-decoration: none;
    border: 0;
}

a:hover {
    color: #333;
    text-decoration: underline;
}


/* ============================================== */
/* Header
/* ============================================== */

.wrapper {
    padding: 5% 5% 2%;
    position: relative;
    text-align: center;
    width: 500px;
    margin: 5% auto;
    max-width: 80%;
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    border-bottom: 3px solid #bebebe;
}

#header {
    padding-bottom: 20px;
}

.name {
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
    color: #00A5CF;
}

.name span {
    color: #ddd;
}

input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
    overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
    padding: 14px 2%;
    border: 2px solid transparent;
    -webkit-appearance: none;
    border-radius: 0;
}

input:focus {
    outline: 0;
}

input[type="submit"], .submit {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    padding: 14px 0;
}

.add-wrapper, .to-do-wrapper {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.add-to-do {
    width: 63%;
    margin: 0 -2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    border: 2px solid #ddd;
    border-right: 2px solid #fff;
    background: #fff;
}

input.add {
    background-color: #46B846;
}

input.add:active {
    background-color: #3CA13C;
}

.submit {
    width: 33%;
    height: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
}

.to-do-wrapper {
    display: none;
    overflow: hidden;
    margin: 10px 0;
    background: #eee;
    border-radius: 3px;
    position: relative;
}

.to-do.item {
    width: 74%;
    float: left;
    color: #333;
    background: transparent;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.submit.complete-item {
    float: right;
}

.submit.complete-item {
    background-color: #eee;
    color: #333;
    height: 20px;
    width: 50px;
}

.submit.complete-item:active {
    background-color: #ddd;
}

.submit.complete-item i {
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.completed .submit.complete-item, .to-do-wrapper.completed, .completed .to-do.item {
    cursor: default;
    background: #F35E5E;
    color: #A33939;
    border-radius: 3px;
}

.delete-completed, .delete-all {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0 0;
    cursor: pointer;
    margin: 0 auto;
    color: #999;
}

.delete-completed:hover, .delete-all:hover {
    color: #aaa;
}

.delete-completed {
    float: left;
    display: none;
}

.delete-all {
    float: right;
    display: block;
}